<div
  class="border-neutral-grey-800 flex flex-col border-t-8 px-[168px] py-[72px]"
>
  <div class="flex flex-col gap-6">
    <div>
      <span class="text-base font-normal">Questions? Call 1-544-505-2993</span>
    </div>

    <div class="flex gap-3">
      <div class="flex w-full flex-col gap-4">
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Faq</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Investor Relations</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Buy Gift cards</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Cookie Prefeences</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Legal Notices</span
        >
      </div>
      <div class="flex w-full flex-col gap-4">
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Faq</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Investor Relations</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Buy Gift cards</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Cookie Prefeences</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Legal Notices</span
        >
      </div>
      <div class="flex w-full flex-col gap-4">
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Faq</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Investor Relations</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Buy Gift cards</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Cookie Prefeences</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Legal Notices</span
        >
      </div>
      <div class="flex w-full flex-col gap-4">
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Faq</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Investor Relations</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Buy Gift cards</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Cookie Prefeences</span
        >
        <span class="text-neutral-grey-100 text-sm font-normal underline"
          >Legal Notices</span
        >
      </div>
    </div>
    <div
      class="text-primary-white border-neutral-grey-350 w-fit gap-4 border p-2"
    >
      <span> English </span>
    </div>
  </div>
</div>
