<div>
  <div class="absolute left-0 top-0 z-10 w-full">
    <app-header></app-header>
  </div>
  <app-starter-hero-banner></app-starter-hero-banner>
  <app-hero-content-block
    title="Enjoy on your TV"
    description="Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more."
    imageSrc="/images/banner1.png"
  >
  </app-hero-content-block>
  <app-hero-content-block
    title="Watch everywhere"
    description="Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV."
    [isReverse]="true"
    imageSrc="/images/banner2.png "
  ></app-hero-content-block>
  <app-hero-content-block
    title="Create profiles for kids"
    description="Send kids on adventures with their favorite characters in a space made just for them—free with your membership."
    imageSrc="/images/banner3.png "
  ></app-hero-content-block>
  <app-hero-content-block
    title="Download your shows to watch offline"
    description="Watch on a plane, train, or submarine"
    [isReverse]="true"
    imageSrc="/images/banner4.png "
  >
  </app-hero-content-block>

  <div
    class="gap flex flex-col gap-[10px] border-t-8 border-[#232323] border-[] px-[72px] py-[168px]"
  >
    <div class="flex w-full flex-col items-center gap-12">
      <div class="flex w-full flex-col items-center justify-center gap-2">
        <h3 class="text-4xl font-bold leading-[62px] text-primary-white">
          Frequenty asked questions
        </h3>

        <div class="flex w-[100%] flex-col gap-2">
          <app-faq-questions
            title="what is Netflix"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
          <app-faq-questions
            title="How much does Netflix cost"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
          <app-faq-questions
            title="Where can I watch"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
          <app-faq-questions
            title="How do i cancel?"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
          <app-faq-questions
            title="What can i watch on Netflix?"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
          <app-faq-questions
            title="Is Netflix good for kids?"
            description="Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices."
          ></app-faq-questions>
        </div>
      </div>
      <div></div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
