<div class="mt-11 px-[80px]">
  <h3 class="text-[24px] font-medium text-primary-white">More Detail</h3>
  <div class="flex gap-3">
    <div
      class="flex w-full flex-col gap-[10px] rounded-2xl border-2 border-[#ffffff0a] bg-[#ffffff1a] px-8 py-4"
    >
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white"
          >Watch Online</span
        >
        <span class="text-[14px] font-medium text-[#ffffffb3]"
          >Available to download</span
        >
      </div>
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white">Genres </span>

        <div class="flex gap-1">
          <span
            class="text-[14px] font-medium text-[#ffffffb3]"
            *ngFor="let genre of genres"
          >
            {{ genre.name }}
          </span>
        </div>
      </div>
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white"
          >This show is ...
        </span>
        <span class="text-[14px] font-medium text-[#ffffffb3]"
          >Exciting, Mystery, Twists & Turns, Investigation, Indian, Crime,
          Thriller, Drama, and Movie</span
        >
      </div>
    </div>
    <div
      class="flex w-full flex-col gap-[10px] rounded-2xl border-2 border-[#ffffff0a] bg-[#ffffff1a] px-8 py-4"
    >
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white">Audio</span>
        <span class="text-[14px] font-medium text-[#ffffffb3]"
          >Hindi, Malayalam [Original], Tamil, and Telugu</span
        >
      </div>
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white"
          >Subtitles
        </span>
        <span class="text-[14px] font-medium text-[#ffffffb3]"
          >English, Hindi Movies, and Mystery Movies</span
        >
      </div>
    </div>
    <div
      class="flex w-full flex-col gap-[10px] rounded-2xl border-2 border-[#ffffff0a] bg-[#ffffff1a] px-8 py-4"
    >
      <div class="flex flex-col gap-[2px]">
        <span class="text-[14px] font-medium text-primary-white">Cast</span>
        <span class="text-[14px] font-medium text-[#ffffffb3]"
          >Mammootty, Soubin Shahir, Jagathy Sreekumar, Mukesh, Saikumar, Anoop
          Menon, Renji Panicker, Asha Sarath, Ansiba Hassan, and Dileesh
          Pothan</span
        >
      </div>
    </div>
  </div>
</div>
