<div>
  <app-header></app-header>
  <app-movie-banner
    bannerUrl="{{this.movieDetails.bannerUrl}}"
    (showPopupVideo)="handleShowVideoClick()"
  ></app-movie-banner>
  <div class="mt-11 px-[80px]">
    <div class="rounded-2xl border-2 border-[#292929] bg-[#ffffff1a] px-8 py-6">
      <h3 class="text-[24px] font-medium text-primary-white">
        {{this.movieDetails.title}}
      </h3>

      <div class="flex flex-col gap-2">
        <div class="flex gap-[30px] text-[14px] font-medium leading-[21px]">
          <span>{{this.movieDetails.releaseDate}}</span>
          <span>U/A 13+</span>
          <span *ngFor="let genre of this.movieDetails.genres"
            >{{genre.name}}</span
          >
        </div>
      </div>
      <div class="flex gap-8">
        <div>
          <span class="text-[16px] text-primary-white"
            >{{this.movieDetails.overview}}</span
          >
        </div>
        <div class="text-[13px] leading-[21px]">
          <span class="font-medium">Stream</span>
          <span>Mammootty, Soubin Shahir, and Jagathy Sr</span>
        </div>
      </div>
    </div>
  </div>
  <app-more-details [genres]="movieDetails.genres"></app-more-details>
  <app-similar-movies></app-similar-movies>

  <div class="my-11 flex aspect-[10/1] flex-col items-center gap-10 px-[80px]">
    <div
      class="flex h-full w-full items-center justify-center rounded-2xl"
      style="
        background-image: linear-gradient(
            rgba(16, 16, 16, 0.6),
            rgba(16, 16, 16, 0.6)
          ),
          url(images/banner6.png);
      "
    >
      <span class="text-[24px] font-bold text-primary-white"
        >Discover your next favourites, plus new releases every week</span
      >
    </div>

    <div
      class="w-fit rounded-full bg-primary-red px-16 py-3 text-[18px] font-medium leading-[18px] text-primary-white"
    >
      Join Now
    </div>
  </div>

  <app-popup-video-player
    *ngIf="showPopupVideo"
    videoId="{{this.movieDetails.youtubeVideoKey}}"
    (outsideClick)="handleOutsideClick()"
  ></app-popup-video-player>
  <app-footer></app-footer>
</div>
