<div class="px-[60px] py-6">
  <div class="flex items-center gap-11">
    <div class="flex aspect-[4/1] w-[10%] items-center">
      <img src="/images/logo.png" alt="" class="h-full w-full" />
    </div>

    <div class="flex gap-5">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-medium leading-[17px] text-primary-white"
        >Home</a
      >
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-normal leading-[17px] text-neutral-grey-200"
        >TV Shows</a
      >
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-normal leading-[17px] text-neutral-grey-200"
        >Movies</a
      >
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-normal leading-[17px] text-neutral-grey-200"
        >New & Poplular</a
      >
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-normal leading-[17px] text-neutral-grey-200"
        >My List</a
      >
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="text-sm font-normal leading-[17px] text-neutral-grey-200"
        >Browse My Languages</a
      >
    </div>
  </div>
  <div></div>
</div>
