<div>
  <app-header></app-header>
  <div class="flex">
    <svg-icon
      src="/icon/ArrowDown.svg"
      class="svg h-20 w-20 fill-primary-red"
    ></svg-icon>
  </div>
  <app-hero-content-block
    title="Enjoy on your TV"
    description="Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more."
    imageSrc="/images/banner1.png"
  >
  </app-hero-content-block>
  <app-hero-content-block
    title="Watch everywhere"
    description="Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV."
    [isReverse]="true"
    imageSrc="/images/banner2.png "
  >
  </app-hero-content-block>

  <app-footer></app-footer>
</div>
