<div class="flex flex-col items-center gap-1" [routerLink]="['/movie-details']">
  <div
    class="relative h-full w-full rounded-sm"
    style="
      border-radius: 2px;
      background:
        lightgray 50% / cover no-repeat,
        url(<path-to-image>) lightgray 50% / cover no-repeat,
        url(<path-to-image>) lightgray 50% / cover no-repeat,
        #333;
    "
  >
    <img src="{{ imageUrl }}" alt="" class="h-full w-full" />

    <div class="absolute left-2 top-2">
      <img src="/images/logo-small.png" alt="" class="aspect-auto h-[20px]" />
    </div>
    <!-- <div
      class="absolute bottom-2 left-[50%] w-fit translate-x-[-50%] bg-primary-red px-1 py-[2px]"
    >
      {{ label }}
    </div> -->
  </div>
  <!-- <span class="text-[18px] text-primary-white">{{ title }}</span> -->
</div>
