@import "./assets/styles/primitives/color.css";
@import "./assets/styles/token.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

svg,
svg path {
  fill: inherit;
}

.svg svg {
  width: 100%;
  height: 100%;
}
